h1
{
font-family:",sans-serif";
font-size:170%;
color:#595454;
text-align:left;
}
p
{
font-family:"serif";
font-size:99%;
}
.left
{
text-align:right;
display:inline-block;
width:10em;
background-color:#f0f0f0;
}
.buttons
{
display:inline-block;
margin-left:1em;
margin-right:1em;
}
.right
{
display:inline-block;
width:10em;
background-color:#f0f0f0;
}